:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(224, 46, 46, 0.87);
  background-color: rgb(249, 223, 177);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 4em;
  line-height: .25;
}

.text-input {
  border-radius: 10px;
  border: 0.15em solid;
  padding: 1.5em 1.5em 1.5em 1.5em;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(246, 207, 117);
  color: #ac1807;
  margin: 1em;
}

button {
  border-radius: 0.5em;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  background-color: #646cff;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0.5em;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.results-area{
    font-size: 1.25em;
  }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:auto;
}

/* Tablets */
@media (min-width: 768px) {
  .container {
    max-width: 1024px;
    padding: 1rem;
    margin:auto;
  }

   h1 {
  font-size: 6em;
  }
   .text-input{
    padding: 1.5em 1.5em 1.5em 1.5em;
    font-size: 2em;
  }
  button{
    font-size: 2em;
  }

  .results-area{
    font-size: 1.75em;
  }
}

/* Large Tablets/Desktop */
@media (min-width: 1024px) {
   h1 {
  font-size: 8em;
  }
   .text-input{
    padding: 2em 2em 2em 2em;
    font-size: 2.5em;
  }
  button{
    font-size: 2.5em;
  }

  .results-area{
    font-size: 2.25em;
  }
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #cc2c2c;
  }
} */
